body {
  // background-color: var(--cui-tertiary-bg);
}

.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  @include ltr-rtl("padding-right", var(--cui-sidebar-occupy-end, 0));
  will-change: auto;
  @include transition(padding .15s);
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
  
  
}
.sidebar-nav .nav-link.active{
    background: #fff !important;
    color:blue
  }
  .sidebar-nav .nav-group.show .nav-group-toggle {
    color:blue
    
  }

.sidebar-toggler {
  @include ltr-rtl("margin-left", auto);
}

.sidebar-narrow,
// .sidebar-narrow-unfoldable:not(:hover) {
//   .sidebar-toggler {
//     @include ltr-rtl("margin-right", auto);
//   }
// }
.sidebar-nav .nav-link{
  // padding: 12px 4px !important;
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}
.sidebar-nav .nav-group-toggle::after{
  background-color: blue;
  // font-weight: bold;
  // background-image: url('https://www.flaticon.com/free-icon/upload_130906') !important;
  // width: 30px !important; /* Increase width */
  //   height: 20px !important;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    body {
      // background-color: var(--cui-dark-bg-subtle);
    }

    .footer {
      --cui-footer-bg: var(--cui-body-bg);
    }
  }
}
