.main_courses_div{
margin: auto;
width: 90%;
margin-top: 20px;
}
.for_listing_courses ul li{
 display: inline-block;
 margin: 20px 10px;
 cursor: pointer;
 color: black;
 font-weight: 500;
 font-size: 16px;
}
.for_listing_courses ul li:active{
    border: 1px solid #0966ed;
}
